@use "../../../variables" as *;

.cartList {
  background-color: white;
  @include page-main;

  .pageTitle {
    @include page-h2-title;
  }

  form {
    width: 70%;
    margin: auto;

    table {
      width: 100%;
      margin-top: 3em;

      thead {
        font-family: "Cormorant Garamond", serif;
      }

      .flowerImage {
        width: 200px;
        height: 200px;
        margin: 0.5em 0 0.2em 0;
        @include flower-image;
      }

      .col2 {
        padding-right: 2em;

        .flowerTitle {
          font-size: 1.8em;
          @include flower-title;
        }

        .deleteButton:hover {
          @include delete-button-hover;
        }

        .deleteButton {
          @include delete-button;
        }
      }

      .defaultFlowerPrice {
        font-size: 1.5em;
        @include flower-price;
      }

      .quantityBox {
        width: 155px;
        margin: auto;
        border: solid 1px rgb(230, 230, 230);
        border-radius: 0.2em;

        .decrease:hover {
          background-color: rgba(105, 95, 220, 0.1);
        }

        .decrease {
          width: 2em;
          height: 1.6em;
          font-size: 1.4em;
          border: none;
          cursor: pointer;
          border-radius: 0.1em;
          background-color: white;
          transition: background-color 0.2s;
        }

        .quantityInput {
          text-align: center;
          width: 3em;
          height: 1.6em;
          font-size: 1.3em;
          font-family: "EB Garamond", serif;
          border: none;
          outline: none;
        }

        .increase:hover {
          background-color: rgba(105, 95, 220, 0.1);
        }

        .increase {
          width: 2em;
          height: 1.6em;
          font-size: 1.4em;
          border: none;
          cursor: pointer;
          border-radius: 0.2em;
          background-color: white;
          transition: background-color 0.2s;
        }
      }

      .flowerPrice {
        width: 100px;
        margin-left: auto;
        margin-right: 10px;
        text-align: right;
        font-size: 1.5em;
        @include flower-price;
      }
    }

    .totalBox {
      @include total-box;
    }

    .buyButtonBox {
      text-align: right;
      margin: 1em 0.5em;

      button:hover {
        background-color: #5c5c68d1;
      }

      button {
        width: 8em;
        height: 3em;
        font-size: 1em;
        font-family: "Cormorant Garamond", serif;
        cursor: pointer;
        color: white;
        font-weight: 900;
        background-color: #5c5c68;
        border: none;
        border-radius: 0.5em;
        transition: background-color 0.2s;
      }
    }
  }
}
