.about {
  background-color: cornflowerblue;
  min-height: 100vh;
  position: relative;
  padding-top: 11em;
}

.about-title {
  font-family: "Marcellus", serif;
  font-size: 2.5em;
  font-weight: 100;
}
