.header {
  position: fixed;
  z-index: 1;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Playfair", serif;
  border-bottom: solid 1px white;
  color: white;
}

.header-nav h1 {
  width: 40%;
  font-size: 2.5em;
}

.header-nav-lists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.header-nav-lists li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-nav-lists li a {
  padding: 1.45em 2em;
  display: block;
  border-radius: 0.2em;
  font-weight: bold;
  font-size: 1.1em;
  transition: background-color 0.2s;
}

.header-nav-lists li a.cart {
  padding: 1.2em 2.5em;
}

.header-nav-lists li a.user {
  padding: 1.2em 2.5em;
}

.header-address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em 3em;
  font-family: "Kaisei Opti", serif;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.7);
}

.header-address span {
  margin-top: 0.5em;
  font-size: 1.5em;
}
