@use "../../../variables" as *;

.userInfo {
  background-color: white;
  @include page-main;

  .pageTitle {
    @include page-h2-title;
  }

  form {
    width: 70%;
    margin: auto;

    table {
      width: 100%;
      margin-top: 3em;

      thead {
        font-family: "Cormorant Garamond", serif;
      }

      .flowerImage {
        width: 200px;
        height: 200px;
        margin: 0.5em 0 0.2em 0;
        @include flower-image;
      }

      .col2 {
        padding-right: 2em;

        .flowerTitle {
          font-size: 1.8em;
          @include flower-title;
        }

        .deleteButton:hover {
          @include delete-button-hover;
        }

        .deleteButton {
          @include delete-button;
        }
      }

      .defaultFlowerPrice {
        font-size: 1.5em;
        @include flower-price;
      }

      .quantityBox {
        width: 9.5em;
        margin: auto;

        .quantityInput {
          text-align: center;
          width: 3em;
          height: 1.6em;
          font-size: 1.3em;
          font-family: "EB Garamond", serif;
          border: none;
          outline: none;
        }
      }

      .flowerPrice {
        font-size: 1.5em;
        @include flower-price;
      }

      .totalTitle {
        margin: 2em 0;
        font-family: "Cormorant Garamond", serif;
        font-size: 1.2em;
      }
    }
  }
}
